.imgContainer{
    width:230px;
    margin-right: 25px;
    filter: grayscale(1);
    
}
.lgImg{
    width: 230px;
    margin-right: 25px;
    filter: grayscale(1);
}
.imgContainer:hover{
    filter: grayscale(0);
}
.lgImg:hover{
    filter: grayscale(0);
}