.log{
    max-width: 260px;
}

.menuAnimi{
    transition: all 0.3s ease-out;
}

.menuAnimiChild{
    will-change: transform, opacity;
width: 32px;
height: 3px;
margin: 0 0 6px 0;
background: #fff;
opacity: 1;
transform: translate(0) rotate(0deg);
transition: all 0.2s ease-out;
}

.headerContainer{
    display: flex;
justify-content: center;
}
.menuBtn{
    will-change: transform;
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
position: fixed;
z-index: 111;
top: 20px;
right: 20px;
height: 75px;
background: transparent;
cursor: pointer;
width: 40px !important;
}

.upScrollContainer{
    width: 40px;
height: 40px;
background-color: #ff7b26;
border-radius: 50%;
float: right;
border: none;
right: 15px;
bottom: 25px;
position: fixed;
}
.upscrollImg{
    width: 20px;
}