.logo{
    width: 180px;
}
.menu{
    width: 35px;
    cursor: pointer;
}
.logoContainer{
    width: 21%;
    display: flex;
    justify-content: space-evenly;
}
.link{
    text-decoration: none;
color: white;
font-size: 14px;
font-weight: bold;
}
.link:hover{
    color: #ff7b26;
}
.linkContainer{
    width: 55%;
    align-self: center;
    display: flex;
    justify-content: space-evenly;
}
.LogoImg{
width: 15px;
cursor: pointer;
}
.LogoImg2{
    width: 15px;
    cursor: pointer;
    }
.LogoImgContainer{
    width: 20%;
align-self: center;
display: flex;
justify-content: space-evenly;
}
.overallContainer{
    padding: 13px 0;
}

@media (max-width:600px) {

    .linkContainer{
        display: none;
    }
    .LogoImg2{
        display: none;
    }
    .logoContainer{
        width: 85% !important;
        justify-content: space-around !important;
    }
    .link{
        color: black !important;
        width: 100% !important;
    }
    .link:hover{
        color: #ff7b26;
    }
    .overallContainer{
        justify-content: center !important;
    }
}

@media (min-width:601px) and (max-width:768px) {
    .linkContainer{
        display: none;
    }
    .LogoImg2{
        display: none;
    }
    .logoContainer{
        width: 85% !important;
        justify-content: space-around !important;
    }
    .link{
        color: black !important;
        width: 100% !important;
    }
    .link:hover{
        color: #ff7b26;
    }
    .overallContainer{
        justify-content: center !important;
    }
}

@media (min-width:769px) and (max-width:992px) {
    
}   

