.container{
    margin-top: 15px !important;
}
ul{
    list-style: disc;
    padding: 0 35px;
}
li{
    cursor: pointer;
}
li:hover{
    color: #ff7b26;
}
ul:hover{
    background-color: white !important;
}