.overallPopupContainer{
    width: 35%;
display: flex;
flex-direction: column;
position: absolute;
top: 0%;
right: 0;
background-color: white;
height: 100%;
}
table{
    width: 100% !important;
}
.popupBill{
    display: flex;
justify-content: space-between;
padding: 10px 20px;
}
.popupTitle{
    font-size: 15px;
font-weight: bold;
}
.border{
    width: 100%;
height: 2px;
border: 1px solid rgba(0,0,0,0.2);
border-style: dashed;
margin-top: 7px;
padding: 0 20px;
}
.cancelBtn{
    border: 1px solid #F27F0C;
background-color: white;
font-size: 12px;
font-weight: bold;
padding: 10px 45px;

}
.cancelBtn:hover{
    background-color: #F27F0C;
    color: white;
}
.submitBtn{
    border: none;
background-color: #F27F0C;
color: white;
font-size: 12px;
padding: 10px 45px;
font-weight: bold;
margin-right: 5%;
}
.submitBtn:hover{
    border: 1px solid #F27F0C;
    background-color: white;
    color: black;
}
.td{
    font-size: 10px !important;
}
.del{
    width: 15px;
    cursor: pointer;
}
.tableContainer{
    padding: 5px 20px;
}
.btnContainer{
    padding: 0 20px;
}
.saveImgContainer{
    width: 45px;
    height: 45px;
    background-color: white;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
.saveImg{
    width: 25px;
    align-self: center;
}
.imgContainer{
    width: 50px;
height: 45px;
display: flex;
justify-content: center;
}
.img{
    width: 40px;
height: 40px;
object-fit: contain;
}
.productContainer{
    display: flex;
justify-content: left;
margin: 15px !important;
}
.productCount{
    width: 60px;
background: #f5f5f5;
border: none;
height: 33px;
padding: 0px 8px;
margin-left: 25px;
}
.productDetails{
    width: 100%;
    text-align: left;
    font-size: 10px;
    font-weight: bold;
}
