
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 0;
}


.orange{
  color:#ff7b26 ;
}

@font-face {
  font-family: kstore;
  src: url("../../kstore/src/fonts/blur.ttf");
}

.kstoreFont{
  font-family: kstore;
}

@font-face {
  font-family: kstore2;
  src: url("../../kstore/src/fonts/ubuntu.ttf");
}

.kstoreFont2{
  font-family: kstore2;
}

@font-face {
  font-family: kstore3;
  src: url("../../kstore/src/fonts/Ubuntu-Light.ttf");
}

.kstoreFont3{
  font-family: kstore3;
}

.moneyBtn{
color: white;
border: none;
padding: 6px 17px;
border-radius: 6px;
font-size: 10px;
font-weight: bold;
}

/* .carousel-control-prev-icon, .carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-color: rgba(0, 0, 0, 0.3);
  background-size: 100%, 100%;
  border-radius: 50%;
}
.carousel-control-prev {
  left: -22px !important;
}
.carousel-control-prev-icon{
  background-image: url("../../kstore/src/Assets/modal_left_arrow.png") !important;
  width: 20px !important;
  height: 27px !important;
  display: inline-block;
  background: no-repeat;
} */
.carousel-control-prev {
  left: -22px !important;
}
.carousel-control-prev-icon{
  background-image: url("../../kstore/src/Assets/modal_left_arrow.png") !important;
  width: 20px !important;
  height: 27px !important;
  display: inline-block;
  background: no-repeat;
}
.carousel-control-next-icon{
  background-image: url("../../kstore/src/Assets/modal_right_arrow.png") !important;
  width: 20px !important;
  height: 27px !important;
  display: inline-block;
  background: no-repeat;
}
.carousel-control-next {
  right: -22px !important;
}
.accordion-button{
  padding: 15px 0 !important;
  border-bottom: 1px solid rgba(0,0,0,.125) !important; 
}
.accordion-button:not(.collapsed){
  background-color: white !important;
}
.accordion-button:focus{
  box-shadow: unset !important;
}

.accordion-button:not(.collapsed)::after{
  background-image: url("../../kstore/src/Assets/cross.png") !important;
}
.accordion-button::after{
  background-image: url("../../kstore/src/Assets/plus.png") !important;
}

.rdrDefinedRangesWrapper{
  display: none !important;
}
.rdrDateRangePickerWrapper{
  position: absolute;
right: 21%;
top: 10%;
}

@media only screen and (max-width:450px) {
  .rdrDateRangePickerWrapper{
    right: -28px;
    top: 100px;
  }
}

@media (min-width:451px) and (max-width:768px) {
    
}

@media (min-width:769px) and (max-width:992px) {
    .rdrDateRangePickerWrapper{
      right: 14%;
    }
    .moneyBtn{
      font-size: 15px;
      padding: 10px 70px;
    }
}

@media (min-width:923px) and (max-width:1140px) {
    
}

@media (min-width:1141px) and (max-width:1200px) {
    
}

/* .highcharts-credits{
  display: none;
}
.highcharts-grid-line{
  display: none;
}
.highcharts-legend-item {
display: none !important;
} */

/* .react-multi-carousel-item{
  width: 100px !important;
} */
/* #button{
  display: inline-block;
background-color: #f77a26;
width: 40px;
height: 40px;
text-align: center;
border-radius: 40px;
position: fixed;
bottom: 20px;
right: 20px;
transition: background-color .3s, opacity .5s, visibility .5s;
opacity: 0;
visibility: hidden;
z-index: 1000;
text-decoration: none;
}

#button.show{
  opacity: 1;
visibility: visible;
} */